.imgWeb {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  max-width: 269px;
  max-height: 310px;
  margin-right: 20px;
}
.close {
  width: 17px;
  height: 17px;
}
.contentWrapper {
  padding-top: 20px;
  max-width: 399px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.contentTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.contentTitleSecond {
  margin-bottom: 8px;
  text-align: center;
}
.contentText {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.email {
  width: 399px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 40px;
  padding: 10px 20px;
}
.signBtn {
  width: 399px;
  height: 46px;
  background: #64b930;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  &:hover {
    background: #fff;
    color: #64b930;
  }
  // &:disabled {
  //   background-color: #cccccc;
  //   color: #ffffff;
  // }
}
.helperText {
  color: #d32f2f;
  font-size: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
}
.wrapperEmail {
  display: flex;
  flex-direction: column;
}

@media (max-width: 782px) {
  .contentWrapper {
    padding-top: 20px;
    max-width: 299px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
  }
  .email {
    width: 285px;
    height: 38px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 40px;
    padding: 10px 20px;
  }
  .signBtn {
    width: 285px;
    height: 38px;
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width: 630px) {
  .imgWeb {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width: 169px;
    max-height: auto;
    margin-right: 5px;
  }
  .close {
    width: 10px;
    height: 10px;
  }
  .contentWrapper {
    padding-top: 20px;
    max-width: 199px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
  }
  .email {
    width: 200px;
    height: 35px;
  }
  .signBtn {
    width: 200px;
    height: 35px;
    font-size: 11px;
    line-height: 14px;
  }
  .contentTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .contentText {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
