.commonContainer {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.webinarContainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
  max-height: 360px;
  margin-bottom: 24px;
}
.webinarImg {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}
.webinarText {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 209px;
  text-align: center;
}

.playContainer {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  left: 48%;
  top: 515px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  img {
    width: 80px;
    height: 80px;
  }
}
.videoStyles {
  border-radius: 20px;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.chipsContainer {
  max-width: 831px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  cursor: pointer;
}
.chip {
  border: 1px solid #cdcdcd;
  border-radius: 100px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 35px;
  min-width: 128px;
  justify-content: center;
  align-items: center;
  color: #030303;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.learnMoreChip {
  margin-right: auto;
  margin-left: auto;
  width: 146px;
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #083049;
  border: 1px solid #083049;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .webinarContainer {
    max-width: 1100px;
    max-height: 870px;
    margin-right: auto;
    margin-left: auto;
  }
  .commonContainer {
    margin-bottom: 50px;
  }
}

@media (max-width: 1050px) {
  .playContainer {
    right: 300px;
    top: 237px;
  }
}

@media (max-width: 980px) {
  .playContainer {
    right: 265px;
    top: 185px;
  }

  .videoStyles {
    border-radius: 20px;
    width: 729px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
}

@media (max-width: 860px) {
  .commonContainer {
    margin-bottom: 0px;
  }
  .playContainer {
    position: absolute;
    right: 195px;
    top: 161px;
  }

  .videoStyles {
    border-radius: 20px;
    width: 729px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
  .learnMoreChip {
    width: 358px;
    margin-bottom: 24px;
  }
}

@media (max-width: 720px) {
  .playContainer {
    position: absolute;
    right: 102px;
    top: 80px;
    max-width: 30px;
    max-height: 30px;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .videoStyles {
    border-radius: 20px;
    width: 358px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
}
