.cardContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cardImg {
  border-radius: 6px;
  max-width: 193px;
  max-height: 150px;
  margin-right: 16px;
}

.cardTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 510px) {
  .cardTitle {
    font-size: 14px;
    line-height: 22px;
  }
}
