.cardContainer {
  display: flex;
  max-width: 1120px;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.imgContainer {
  max-width: 540px;
  max-height: 400px;
  margin-left: 40px;
  img {
    border-radius: 12px;
    width: 100%;
  }
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cardText {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
}

.cardTitle {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 16px;
}

@media (max-width: 920px) {
  .cardContainer {
    flex-direction: column-reverse;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .imgContainer {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .cardBody {
    width: 500px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}
@media (max-width: 700px) {
  .cardText {
    font-size: 12px;
    line-height: 19px;
  }

  .cardTitle {
    font-size: 14px;
    line-height: 22px;
  }
}
