.commonSection {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}
.imgContainer {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  max-width: 260px;
}
.sectionTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
.containerText {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.text {
  max-width: 585px;
  text-align: start;
  margin-bottom: 20px;
}
.pointContainer {
  display: flex;
  max-width: 650px;
  padding-left: 25px;
  &:first-child {
    padding-bottom: 20px;
  }
}
.pointTitle {
  margin-right: 20px;
  margin-bottom: 10px;
}
.subPointContainer {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  max-width: 620px;
  margin-bottom: 20px;
}
.subPointContainerInner {
  display: flex;
}
.privacyItem {
  margin-bottom: 20px;
  h3 {
    margin-bottom: 15px;
  }
}
@media (max-width: 460px) {
  .privacyItem {
    h3 {
      font-size: 17px;
    }
  }
  .pointContainer,
  .subPointContainer {
    p,
    span {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
