* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1440px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  color: #083049;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}

.carousel .carousel-status {
  display: none;
}

.slick-dots {
  li > button::before {
    font-size: 10px;
  }
}